In [24]:
!pip install --no-cache-dir -i https://test.pypi.org/simple/ lambdata-zwarshavsky==0.1.6

Looking in indexes: https://test.pypi.org/simple/
Collecting lambdata-zwarshavsky==0.1.6
  Downloading https://test-files.pythonhosted.org/packages/d5/38/c45e2a497fa3ee6433dd4d1d4bf4df5b4d54057b230ea5e3bbe868650246/lambdata_zwarshavsky-0.1.6-py3-none-any.whl
Requirement already satisfied: pandas in /Users/user/anaconda3/lib/python3.7/site-packages (from lambdata-zwarshavsky==0.1.6) (0.24.2)
Requirement already satisfied: numpy in /Users/user/anaconda3/lib/python3.7/site-packages (from lambdata-zwarshavsky==0.1.6) (1.16.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/user/anaconda3/lib/python3.7/site-packages (from pandas->lambdata-zwarshavsky==0.1.6) (2.8.0)
Requirement already satisfied: pytz>=2011k in /Users/user/anaconda3/lib/python3.7/site-packages (from pandas->lambdata-zwarshavsky==0.1.6) (2019.1)
Requirement already satisfied: six>=1.5 in /Users/user/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.5.0->pandas->lambdata-zwarshavsky==0.1.6) (1.12.0)
Installing collected packages: lambdata-zwarshavsky
  Found existing installation: lambdata-zwarshavsky 0.1.5
    Uninstalling lambdata-zwarshavsky-0.1.5:
      Successfully uninstalled lambdata-zwarshavsky-0.1.5
Successfully installed lambdata-zwarshavsky-0.1.6

In [36]:
import pandas as pd
import numpy as np

In [37]:
from l_z import df_utils

In [38]:
dir(df_utils.DF)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'add_l',
 'c_nan',
 'df_stats',
 'df_valcounts',
 'h',
 'val_other']

In [39]:
df = pd.DataFrame({"zeros":np.zeros(10),"ones":np.ones(10),"letters":["a","b","c","d","e","f","g","h","i","j"]})

In [40]:
df = df.replace(0,np.nan)

In [41]:
df

   zeros  ones letters
0    NaN   1.0       a
1    NaN   1.0       b
2    NaN   1.0       c
3    NaN   1.0       d
4    NaN   1.0       e
5    NaN   1.0       f
6    NaN   1.0       g
7    NaN   1.0       h
8    NaN   1.0       i
9    NaN   1.0       j

In [43]:
df_utils.DF.df_stats(df)

(10, 3)

   zeros  ones letters
0    NaN   1.0       a
1    NaN   1.0       b
2    NaN   1.0       c
3    NaN   1.0       d
4    NaN   1.0       e

zeros      10
ones        0
letters     0
dtype: int64

zeros      float64
ones       float64
letters     object
dtype: object

        zeros  ones letters
count     0.0  10.0      10
unique    NaN   NaN      10
top       NaN   NaN       d
freq      NaN   NaN       1
mean      NaN   1.0     NaN
std       NaN   0.0     NaN
min       NaN   1.0     NaN
25%       NaN   1.0     NaN
50%       NaN   1.0     NaN
75%       NaN   1.0     NaN
max       NaN   1.0     NaN

Series([], Name: zeros, dtype: int64)

1.0    10
Name: ones, dtype: int64

d    1
c    1
a    1
g    1
f    1
i    1
b    1
j    1
h    1
e    1
Name: letters, dtype: int64

In [20]:
from l_z import df_utils

In [ ]:
from l_z

In [19]:
df = pd.DataFrame(np.zeros(100))

NameError: name 'pd' is not defined

In [46]:
def df_stats(dataframe):
    # returns shape, default head(),NaN sum per column,dtypes,describe, and
    # value counts per column
    display(dataframe.shape,
    dataframe.head(),
        dataframe.isna().sum(),
        dataframe.dtypes,
        dataframe.describe(
            include="all"))
    for column in dataframe:
        display(dataframe[column].value_counts())

In [48]:
df_stats(df)

(10, 3)

   zeros  ones letters
0    NaN   1.0       a
1    NaN   1.0       b
2    NaN   1.0       c
3    NaN   1.0       d
4    NaN   1.0       e

zeros      10
ones        0
letters     0
dtype: int64

zeros      float64
ones       float64
letters     object
dtype: object

        zeros  ones letters
count     0.0  10.0      10
unique    NaN   NaN      10
top       NaN   NaN       d
freq      NaN   NaN       1
mean      NaN   1.0     NaN
std       NaN   0.0     NaN
min       NaN   1.0     NaN
25%       NaN   1.0     NaN
50%       NaN   1.0     NaN
75%       NaN   1.0     NaN
max       NaN   1.0     NaN

Series([], Name: zeros, dtype: int64)

1.0    10
Name: ones, dtype: int64

d    1
c    1
a    1
g    1
f    1
i    1
b    1
j    1
h    1
e    1
Name: letters, dtype: int64